name: CI workflow

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [10, 12, 14]

    name: Node.js ${{ matrix.node }}

    services:
      mongodb:
        image: mongo:3.4.3
        ports:
          - 27017:27017

    steps:
    - uses: actions/checkout@v2.3.4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install
      run: npm install

    - name: Run tests      
      run: npm run test

  automerge:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: fastify/github-action-merge-dependabot@v2.0.0
        if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request' }}
        with:
          github-token: ${{secrets.github_token}}
